* {
    box-sizing: border-box;
    font-size: 16px;
}

.root {
    width: 100%;
    height: 1000px;
}

.roots {
    margin: 0 auto;
    width: 600px;
    height: 100%;
    background-color: rgba(26, 23, 23, 0.925);
}

.container {
    display: flex;
    /* justify-content: space-between; */
    position: relative;
    margin: 0px auto;
    padding-top: 200px;
    width: 600px;
    height: 600px;
}

.logo-header {
    display: inline-block;
    align-items: center;
    width: 650px;
    height: 100px;
}

.side-bar-box {
    height: 50px;
}

.main-container {
    display: flex;
    justify-content: center;
    
    padding: 15px 0px 10px 0px ;
    width: 550px;
}

.invisible {
    display: none !important;
}