* {
    box-sizing: border-box;
    font-size: 16px;
}

.container {
    display: flex;
    /* justify-content: space-between; */
    position: relative;
    margin: 120px auto;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 600px;
    height: 700px;
    background-color: aqua;
}

.logo-header {
    display: inline-block;
    align-items: center;
    width: 650px;
    height: 100px;
}

.side-bar-box {
    height: 50px;
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 15px 8px 10px 8px ;
    width: 550px;
}