.side-bar {
    transition: left 0.6s ease;
    position: absolute;
    transform: translateY(5%);
    left: -150px;
    display: inline;
    border-left: none;
    border-right: 2px solid #dbdbdb;
    padding: 20px 20px;
    width: 150px;
    height: 628.5px;
    background-color: #fafafa;
}

.side-bar li {
    margin-bottom: 20px;
}

.side-bar li:hover {
    cursor: pointer;
}

.side-bar:hover {
    left: 0px;
}
.side-bar::first-line {
    left: 0px;
}

.side-bar-button {
    position: relative;
    top: 3px;
    left: 3px;
    display: inline;
    padding: 3px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.side-bar-button:hover + .side-bar {
    left: 0px;
}
