.side-bar {
    transition: left 0.3s ease;
    position: absolute;
    transform: translateY(2%);
    left: -150px;
    border-right: 2px solid #dbdbdb;
    padding: 25px 20px;
    width: 150px;
    height: 642.5px;
    color: #ffffff;
    background-color: #ffffff;
}

.side-bar li {
    margin-bottom: 20px;
    height: 20px;
}

.side-bar li:hover {
    cursor: pointer;
}

.side-bar:hover {
    left: 0px;
    color: black;
}
.side-bar::first-line {
    left: 0px;
}

.side-bar-button {
    position: relative;
    top: 15px;
    display: inline;
    padding: 3px;
    border: 1px solid #dbdbdb;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.side-bar-button:hover + .side-bar {
    left: 0px;
    color: black;
}
